body {
    margin: 0;
    background-color: #222;
    color: #FFF;
    font-family: monospace;
}
#container {
    background-color: #111;
    width: 715px;
    padding: 10px;
    border: 1px solid #666;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#output {
    background-color: #333;
    border-color: #666666;
    padding: 10px;
    width: 200px;
    height: 100px;
    color: #666666;
    outline: 0;
    resize: none;
}

.right {
    display: flex;
    flex-direction: column;
}

#map {
    border: 1px solid #666;
    margin-bottom: 10px;
}

.palette-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    height: 32px;
}

#mapPos {
    border: 1px solid #666;
    margin-bottom: 10px;
    padding: 5px 10px;
}
