body {
    margin: 0;
    background-color: #222;
    color: #FFF;
    font-family: monospace;
}

#container {
    background-color: #111;
    width: 715px;
    padding: 10px;
    border: 1px solid #333;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#output {
    background-color: #444;
    border: none;
    padding: 10px;
    width: 200px;
    height: 30px;
    color: #666;
    outline: 0;
    resize: none;
    margin-bottom: 10px;
}

.right {
    display: flex;
    flex-direction: column;
}

#map {
    border: 1px solid #333;
    margin-bottom: 10px;
}

.palette-container {
    display: flex;
    flex-direction: row;
}

.palette-container button {
    margin-right: 10px;
}

button {
    height: 32px;
    border: none;
    background-color: #333;
    color: #BBB;
    padding: 0 10px;
}

#mapPos {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #333;
}

#controls {
    margin-top: 10px;
}
